# Python
venv/
__pycache__/
*.pyc
.env

# raw data
data/raw/

# processed data
data/processed/

# Power BI
*.pbix

# Power BI PBIP
**/.pbi/localSettings.json
**/.pbi/cache.abf
**/.pbi/unappliedChanges.json

# OS
.DS_Store
Thumbs.db