# Python
venv/
__pycache__/
*.pyc
.env

# raw data
data/raw/

# processed data
data/processed/

# Power BI
*.pbix

# Power BI PBIP - cache local, específico da máquina
**/.pbi/localSettings.json
**/.pbi/cache.abf

# OS
.DS_Store
Thumbs.db